# test docker compose to ensure cli client working properly
services:
  peerpipe:
    build: .
    ports:
      - "20000:20000"
      - "20001:20001"
    cap_add:
      - NET_ADMIN
      - NET_RAW
      - SYS_NICE
